<footer class="footer">
    <div class="container wrap">
        <div class="footer-content">
            <p>© <%= new Date().getFullYear() %> Rádio IF - Instituto Federal de São Paulo - Campus Campinas</p>
            <p>Desenvolvido por <a href="https://portal.cmp.ifsp.edu.br/" target="_blank" rel="noopener">Alunos do
                    IFSP</a></p>
        </div>
    </div>
</footer>