<div class="player">
  <div class="container wrap">
    <div>
      <div class="title">Rádio IF</div>
      <div class="program">Programa: <span id="current-program">Carregando…</span></div>
    </div>
    <div class="controls">
      <button id="btn-play" title="Play/Pause">▶</button>
      <input id="vol" type="range" min="0" max="100" value="80" />
    </div>
  </div>
</div>
